.example-card {
    max-width: 400px;
}

.crop-image {
    display: block;
    height: 500px;
    width: 100%;
    img {
        object-fit: contain;
        height: 100%;
        width: 100%;
        object-position: center;
    }
}