mat-slider {
    width: 300px;
    vertical-align: middle;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.example-name-label {
    width: 50px;
    vertical-align: middle;
    display: block;
    margin-left: auto;
    margin-right: auto;
}